<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programme Education Outcomes</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<a href="{% url 'home' %}"
      >HOME</a>
<br/><br/><br/>
<div class="main">
      <h3>JAWATANKUASA PEMEGANG TARUH PKS</h3>
      <p>
        Jawatankuasa Pemegang Taruh PKS dibentuk bagi tujuan melaksanakan Kajian Pencapaian PEO untuk melihat pencapaian alumni selepas 3 hingga 5 tahun bergraduat. Maklum balas pencapaian alumni boleh diperolehi melalui kaji selidik yang dijawab oleh alumni dan majikan.  Maklum balas yang diperolehi juga boleh digunakan untuk menambahbaik pernyataan PEO program.
<br /><br />
        Jawatankuasa Pemegang Taruh PKS terdiri daripada:</p>
    <div>
        <center>
                <img src="{% static 'images/jkpeo.png' %}" width="800" style="height: 400px"/>
        </center>
    </div>
      <center>
      <p><strong>Jadual Skop dan Tugas Ahli Jawatankuasa</strong></p>
      </center>

      <br />
      <div class="row">
        <div class="sidebar">
          <h5><u>FAIL-FAIL KAJIAN DAN LAPORAN PEO</u></h5>

          <a href="/static/files/LAMPIRAN 2B.docx"
            >1. Contoh Instrumen Penilaian PEO Program MQA bagi Alumni</a
          ><br />
          <a href="/static/files/LAMPIRAN 2D.docx"
            >2. Contoh Instrumen Penilaian PEO Program MQA bagi Majikan</a
          ><br />
          <a href="/static/files/LAMPIRAN 3A.docx"
            >3. Templat Instrumen Penetapan KPI PEO (TTAC & ETAC)</a
          ><br />
          <a href="/static/files/LAMPIRAN 3D.docx"
            >4. Contoh Instrumen Penilaian Program ETAC (Dichotomous)</a
          ><br />
          <a href="/static/files/LAMPIRAN 3F.docx"
            >5. Contoh Instrumen Penilaian Program ETAC (Skala Likert)</a
          ><br />
          <a href="/static/files/LAMPIRAN 2E.docx"
            >6. Contoh Laporan Kajian Pencapaian PEO Program MQA bagi Alumni</a
          ><br />
          <a href="/static/files/LAMPIRAN 3B.docx"
            >7. Contoh Laporan Penetapan KPI PEO Program ETAC</a
          ><br />
          <a href="/static/files/LAMPIRAN 3E.docx"
            >8. Contoh Laporan Kajian Pencapaian PEO Program ETAC bagi Alumni (Dichotomous)</a
          ><br />
          <a href="/static/files/LAMPIRAN 3G.docx"
            >9. Contoh Laporan Kajian Pencapaian PEO Program ETAC bagi Alumni (Scala Likert)</a
          ><br />
           </div>
      </div>
    </div>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>